.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: lightseagreen;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}